<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
    <div class="logo">
        <img src="/CompLogo.png">
        {{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}Terminal{{ end }}
    </div>
</a>
